@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Noto+Sans+JP:wght@500;700&family=Poppins:wght@600&family=Ubuntu+Mono&display=swap');

#aside {
    align-self: stretch;
    padding: 2rem;
    width: 20%;
    min-width: 200px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    background-color: #fafafa;
}

.aside__anchor {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #090F31;
}
.aside__anchor span {
    color: #F7542E;
}

.aside__list {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.aside__item {
    cursor: pointer;
    color: #777;
    margin: 1rem 0;
    transition: .3s;
}
.aside__item:hover {
    color: #000000;
}

